.kutu{
    position: relative;
    margin: auto;
    margin-top: 8%;
    width: 280px;
    height: 450px;
    background-color: rgb(246, 241, 241);
    border-radius: 15px;
}

.photoKutu{
    position:relative;
    z-index: +1;
    background-color: rgb(225, 225, 227);
    width: 250px;
    height: 200px;
    left: 15px;
    top: -25px;
    border-radius: 15px;
}

.audioControl{
    width: 280px;
}

.rangee{
    width: 250px;
    left: 25px;
}

.fa {
    display: flex;
    justify-content:end;
    background-color: rgb(82, 87, 90);
    border-radius: 30px;
    padding: 20px;
    color: aliceblue;
    margin: 10px;
}

.vol{
    display: flex;
    justify-content:end;
    border-radius: 30px;
    padding: 20px;
    color: rgb(0, 0, 0);
    margin: 10px;
}

.vol:hover{
    cursor: pointer;
}


.vol:active{
    color: rgb(56, 56, 56);
    transition: 0.2ms ease-in-out;
}

.fa:hover{
    cursor: pointer;
}


.playButonu{
    display: flex;
    justify-content: center;
}

.songName{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.timers{
    display: flex;
    justify-content: space-between;
}
